body{
    padding:0;
    margin:0;
    background-color: rgba(0,0,0,0.5);
    background-image:url(img/cc.jpg);
    background-repeat: no-repeat;
    background-position: center;
        background-size: cover;

    
    
}

.form{
    background-color:rgba(0,0,0,0.4);
   
    
   border-radius: 70px 0 70px 0;
   margin:100 auto;
    width:40%;
    text-align:left;
    padding: 1px;
    transition: .5s;
     
}

.form-text{
    text-align: center;
    color: #fff;
    position: relative !important;
    padding-bottom: 160px;
}
.form-text h1{
    font-size:34px;
    text-transform: uppercase;
    font-weight: bold;
}
.form-text .put p {
    font-weight: bold;
    text-transform: uppercase;
    font-size:19px;
}

.form-text .put input{
    width:100%;
    color:#fff;
    height:50px;
    border-radius:10px 0 10px 0;
    border: 2px solid #fff;
    background-color: transparent;
    text-decoration: none;
}

.form-text .put textarea{
    height:180px;
    width: 100%;
    color:#fff;
    margin-bottom: 30px;
    border: 0 solid transparent;
    background-color:transparent;
    border-radius: 10px 0 10px 0;
    text-decoration: none !important;
    font-size: 15px;
   
}
.action a{
    position: relative;
   display: inline-block;
    padding:15px 30px;
    color:#fff;
    transition:top 0.6s;
    border-radius: 12px;
    background-color:blueviolet;
     margin-top: 40px;
    left:210px;
    text-align:center !important;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    display:block;
    top:0;

   
  
   
}
.form-text:hover .action a{
    top:-100%;
    
    
      background-color:green;

 
}
.forget a{
    color:#fff !important;
    text-align: center;
    font-size: 14px;

    text-decoration: none !important;
    text-transform: uppercase;
    padding-top: 10px
}